.bannerSection {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 112px auto 0 auto;
    align-items: center;
}

.bannerContent {
    width: 100%;
    align-items: center;
    position: relative;
    display: flex;
}

.bannerImageContainer {
    width: 100%;
    max-height: 400px;
    border-radius: 20px;
    object-fit: cover;
    display: inline-block;
}

.bannerImageContainer img {
    width: 100%;
    max-height: 400px;
    object-fit: scale-down;
    border-radius: 20px;
}

.bannerTextBlock {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.bannerTextPrimary {
    color: var(--color-beige);
    font-family: var(--font-secondary);
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin: 0 auto 0 auto;
}

.bannerTextSecondary {
    color: var(--color-beige);
    font-family: var(--font-secondary);
    font-weight: 800;
    font-size: 24px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

@media (max-width: 1199px) {
    .bannerSection {
        margin: 92px auto 0 auto;
    }

    .bannerTextBlock {
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        align-items: center;
        text-align: center;
    }

    .bannerTextPrimary {
        font-size: 30px;
    }

    .bannerTextSecondary {
        font-size: 18px;
    }
}