.container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--color-purple);
    overflow-x: hidden;
}

.contentContainer {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.languageSwitcher {
    position: absolute;
    right: 10px;
    top: 10px;
}

.section {
    position: relative;
    z-index: 5;
}

.footer {
    padding: 20px;
    background-color: var(--color-purple);
    color: var(--color-beige);
}

.footer p {
    font-family: var(--font-secondary);
    font-weight: 200;
    font-size: clamp(14px, 2vw, 24px);
}


.footerContent {
    margin-top: 150px;
    text-align: center;
}

@media (max-width: 1640px) {
    .moonPattern1,
    .moonPattern2,
    .moonPattern3,
    .moonPattern4,
    .moonPattern5,
    .moonPattern6,
    .moonPattern7 {
        display: none;
    }
}

.moonPattern1 {
    position: absolute;
    top: -20%;
    left: -25%;
    z-index: 0;
}

.moonPattern2 {
    position: absolute;
    top: 10%;
    right: -20%;
    z-index: 0;
}

.moonPattern3 {
    position: absolute;
    top: -20%;
    left: -70%;
    z-index: 0;
}

.moonPattern4 {
    position: absolute;
    top: 30%;
    right: -40%;
    z-index: 0;
}

.moonPattern5 {
    position: absolute;
    bottom: 30%;
    left: -30%;
    z-index: 0;
}

.moonPattern6 {
    position: absolute;
    top: 0;
    right: -40%;
    z-index: 0;
}

.moonPattern7 {
    position: absolute;
    bottom: -45%;
    right: -25%;
    z-index: 0;
}

@media (max-width: 1600px) {
    .moonPattern1 {
        left: -15%;
    }

    .moonPattern2 {
        right: -20%;
    }

    .moonPattern3 {
        left: -15%;
    }

    .moonPattern4 {
        right: -20%;
    }

    .moonPattern5 {
        left: -20%;
    }

    .moonPattern6 {
        right: -20%;
    }

    .moonPattern7 {
        right: -15%;
    }
}






