.container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--color-purple);
}

.contentContainer {
    margin: 0 auto;
    width: 1200px;
}

.languageSwitcher {
    position: absolute;
    right: 10px;
    top: 10px;
}

.section {
    position: relative;
}

.footer {
    padding: 20px;
    background-color: var(--color-purple);
    color: var(--color-beige);
}

.footer p {
    font-family: var(--font-secondary);
    font-weight: 200;
    font-size: 24px;
}


.footerContent {
    margin-top: 150px;
    text-align: center;
}






.moonPattern1 {
    position: absolute;
    top: -20%;
    left: -25%;
    z-index: 0;
}

.moonPattern2 {
    position: absolute;
    top: 30%;
    right: -30%;
    z-index: 0;
}

.moonPattern3 {
    position: absolute;
    top: -20%;
    left: -25%;
    z-index: 0;
}

.moonPattern4 {
    position: absolute;
    top: 30%;
    right: -40%;
    z-index: 0;
}

.moonPattern5 {
    position: absolute;
    bottom: 30%;
    left: -30%;
    z-index: 0;
}

.moonPattern6 {
    position: absolute;
    top: 0;
    right: -40%;
    z-index: 0;
}

.moonPattern7 {
    position: absolute;
    bottom: -45%;
    right: -25%;
    z-index: 0;
}






