.container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--color-purple);
}

.contentContainer {
    margin: 0 auto;
    width: 1200px;
}

.languageSwitcher {
    position: absolute;
    right: 10px;
    top: 10px;
}

.section {
}

.footer {
    padding: 20px;
    background-color: var(--color-purple);
    color: var(--color-beige);
}

.footer p {
    font-family: var(--font-secondary);
    font-weight: 200;
    font-size: 24px;
}


.footerContent {
    margin-top: 150px;
    text-align: center;
}





