.navigationBoard {
    background-color: var(--color-blue);
    height: 72px;
    width: 100%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 0 auto;
    position: sticky;
    top: 0px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.navigationBoard button {
    all: initial;
    position: absolute;
    top: -120px;
    left: -25px;
}

.navigationBoard > img:last-child {
    position: absolute;
    top: -140px;/*top: -150px;*/
    right: 0px;
}

.navigationBoardButtons {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 40px;
    z-index: 101;
    display: flex;
    gap: 41px;
}

.navigationBoardButtons > button:first-child, .navigationBoardButtons > button:last-child {
    all: initial;
    font-family: var(--font-primary);
    font-weight: 800;
    font-size: 24px;
    color: var(--color-light-lavender);
    cursor: pointer;
    transition: color 0.3s ease, transform 0.2s ease;
}

.navigationBoardButtons > button:first-child:hover, 
.navigationBoardButtons > button:last-child:hover {
    color: var(--color-beige);
    transform: translateY(-2px);
}

.socialMediaLinks {
    display: none;
}

.logoStack {
	position: relative;
	display: inline-block;
	line-height: 0;
}

.logoStack img {
	display: block;
}

.logoBackground {
    position: relative;
    top: -150px;
    left: -50px;
    width: 800px;
    height: auto;
}

.logoOverlay {
	position: absolute;
	top: 155px;
	left: 30%;
	transform: translate(-50%, -50%);
	z-index: 1; /* on top of moon1 */
	pointer-events: none;
    max-width: fit-content;
    max-height: min-content;
}


@media (max-width: 1199px) {
    .navigationBoard {
        width: 100%;
        top: 0;
        height: 40px;
        padding: 10px 0;
        justify-content: center;
        border-radius: 10px;
    }


    .navigationBoard button {
        top: -20px;
        left: 0px;
    }

    .navigationBoard button svg,
    .navigationBoard button img {
        width: 350px;
        height: auto;
    }


    .navigationBoard > img:last-child,
    .navigationBoardButtons {
        display: none;
    }

    .navigationBoardTitle {
        font-size: 24px;
    }

    .socialMediaLinks {
        display: block;
        position: absolute;
        right: 15px;
    }

    .logoBackground {
        position: relative;
        top: -100px;
        left: -40px;
        height: auto;
    }
    
    .logoOverlay {
        position: absolute;
        top: 0px;
        left: 0px;
        transform: translate(5%, 60%);
        z-index: 1; /* on top of moon1 */
        pointer-events: none;
        max-width: 190px;
        max-height: min-content;
    }
}

@media (max-width: 768px) {
    .socialMediaLinks {
        display: none;
    }
}

@media (max-width: 425px) {
    .navigationBoardTitle {
        font-size: 24px;
        margin-left: 170px;
    }
}