.navigationBoard {
    background-color: var(--color-blue);
    height: 72px;
    width: 90%;
    border-radius: 4px;
    margin: 0 auto;
    position: sticky;
    top: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.navigationBoard > img:first-child {
    position: absolute;
    /*top: -135px;
    left: -50px;*/
    top: -120px;
    left: -25px;
}

.navigationBoard > img:last-child {
    position: absolute;
    top: -140px;/*top: -150px;*/
    right: 0px;
}

.navigationBoardTitle {
    font-family: var(--font-secondary);
    font-weight: 800;
    font-size: 32px;
    color: var(--color-beige);
}

.navigationBoardButtons {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 40px;
    z-index: 101;
    display: flex;
    gap: 41px;
}

.navigationBoardButtons > button:first-child, .navigationBoardButtons > button:last-child {
    all: initial;
    font-family: var(--font-primary);
    font-weight: 800;
    font-size: 24px;
    color: var(--color-blue);
}