.container {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--color-purple);
    min-height: 100vh;
}

.contentContainer {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}