.socialMediaLinks {
    display: flex;
    flex-direction: column;
    position: fixed;
    gap: 25px;
    top: 50px;
    left: 5px;
    align-items: center;
    width: 40px;
    z-index: 10;
}

.socialMediaLinks a {
    text-decoration: none;
}

.instagramNickName p {
    transform: rotate(-90deg);
    margin-top: 38px;
    color: var(--color-beige);
    font-family: var(--font-primary);
    font-weight: 800;
    font-size: 24px;
}

.instagramNickName > p:first-child {
    font-family: var(--font-secondary);
    font-weight: 600;
    font-size: 24px;
    margin-right: 0;
}

@media (max-width: 1250px) {
    .socialMediaLinks {
        display: none;
    }
}