.container {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.container a {
    margin: auto 0;
    text-decoration: none;
}

.instagramNickName {
    display: flex;
    flex-direction: row;
    color: var(--color-beige);
    font-family: var(--font-secondary);
    font-weight: 600;
    font-size: 24px;
}

.instagramNickName p {
    margin: 0;
}

.instagramNickName > p:first-child {
    font-family: var(--font-primary);
    font-weight: 800;
    font-size: 24px;
    margin-right: 0;
}

@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: row;
        gap: 15px;
    }

    .instagramNickName {
        font-size: 18px;
    }

    .instagramNickName > p:first-child {
        font-size: 18px;
    }

}